### Imports

In [17]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [27]:
df_org = pd.read_csv('student-mat.csv', sep=";")

In [19]:
df_org.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [28]:
atributes = ["sex", "age", "Pstatus", "health", "absences", "G3", "studytime", "paid", "activities", "internet"]

In [29]:
data = df_org[atributes]

In [30]:
data.head()

  sex  age Pstatus  health  absences  G3  studytime paid activities internet
0   F   18       A       3         6   6          2   no         no       no
1   F   17       T       3         4   6          2   no         no      yes
2   F   15       T       3        10  10          2  yes         no      yes
3   F   15       T       5         2  15          3  yes        yes      yes
4   F   16       T       5         4  10          2  yes         no       no

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sex         395 non-null    object
 1   age         395 non-null    int64
 2   Pstatus     395 non-null    object
 3   health      395 non-null    int64
 4   absences    395 non-null    int64
 5   G3          395 non-null    int64
 6   studytime   395 non-null    int64
 7   paid        395 non-null    object
 8   activities  395 non-null    object
 9   internet    395 non-null    object
dtypes: int64(5), object(5)
memory usage: 31.0+ KB

In [31]:
data.describe()

              age      health    absences          G3   studytime
count  395.000000  395.000000  395.000000  395.000000  395.000000
mean    16.696203    3.554430    5.708861   10.415190    2.035443
std      1.276043    1.390303    8.003096    4.581443    0.839240
min     15.000000    1.000000    0.000000    0.000000    1.000000
25%     16.000000    3.000000    0.000000    8.000000    1.000000
50%     17.000000    4.000000    4.000000   11.000000    2.000000
75%     18.000000    5.000000    8.000000   14.000000    2.000000
max     22.000000    5.000000   75.000000   20.000000    4.000000

In [25]:
data.describe()

           health    absences          G3   studytime
count  395.000000  395.000000  395.000000  395.000000
mean     3.554430    5.708861   10.415190    2.035443
std      1.390303    8.003096    4.581443    0.839240
min      1.000000    0.000000    0.000000    1.000000
25%      3.000000    0.000000    8.000000    1.000000
50%      4.000000    4.000000   11.000000    2.000000
75%      5.000000    8.000000   14.000000    2.000000
max      5.000000   75.000000   20.000000    4.000000

In [32]:
data[["age", "health","absences", "G3", "studytime"]].describe()

              age      health    absences          G3   studytime
count  395.000000  395.000000  395.000000  395.000000  395.000000
mean    16.696203    3.554430    5.708861   10.415190    2.035443
std      1.276043    1.390303    8.003096    4.581443    0.839240
min     15.000000    1.000000    0.000000    0.000000    1.000000
25%     16.000000    3.000000    0.000000    8.000000    1.000000
50%     17.000000    4.000000    4.000000   11.000000    2.000000
75%     18.000000    5.000000    8.000000   14.000000    2.000000
max     22.000000    5.000000   75.000000   20.000000    4.000000

In [33]:
data['age'] = pd.qcut(data["age"], q=3, labels=['faixa-1', 'faixa-2', 'faixa-3'])

C:\Users\gabri\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
data['health'] = pd.qcut(data["health"].rank(method='first'), q=5, labels=['health-1', 'health-2', 'health-3', 'health-4', 'health-5'])

C:\Users\gabri\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
data['absences'] = pd.qcut(data["absences"].rank(method='first'), q=5
                           ,labels=['absences-1', 'absences-2', 'absences-3', 'absences-4', 'absences-5'])

C:\Users\gabri\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [41]:
data['G3'] = pd.qcut(data["G3"], q=4
                           ,labels=['G3-1', 'G3-2', 'G3-3', 'G3-4'])

C:\Users\gabri\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [44]:
data['studytime'] = pd.qcut(data["studytime"].rank(method='first'), q=4
                           ,labels=['studytime-1', 'studytime-2', 'studytime-3', 'studytime-4'])

C:\Users\gabri\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
data.head()

,sex,age,Pstatus,health,absences,G3,studytime,paid,activities,internet
0,F,faixa-3,A,health-2,absences-4,G3-1,studytime-2,no,no,no
1,F,faixa-2,T,health-2,absences-3,G3-1,studytime-2,no,no,yes
2,F,faixa-1,T,health-2,absences-4,G3-2,studytime-2,yes,no,yes
3,F,faixa-1,T,health-4,absences-2,G3-4,studytime-4,yes,yes,yes
4,F,faixa-1,T,health-4,absences-3,G3-2,studytime-2,yes,no,no

In [47]:
rows = data.shape[0]

In [48]:
atributos = set()
for i in range(rows):
    atributos = atributos.union(set(data.iloc[i].unique()))

In [49]:
atributos

{'A',
 'F',
 'G3-1',
 'G3-2',
 'G3-3',
 'G3-4',
 'M',
 'T',
 'absences-1',
 'absences-2',
 'absences-3',
 'absences-4',
 'absences-5',
 'faixa-1',
 'faixa-2',
 'faixa-3',
 'health-1',
 'health-2',
 'health-3',
 'health-4',
 'health-5',
 'no',
 'studytime-1',
 'studytime-2',
 'studytime-3',
 'studytime-4',
 'yes'}

In [50]:
np.nan in atributos

False

In [51]:
atributos.difference_update({np.nan})

In [53]:
data_ = pd.DataFrame(columns=atributos,data=np.zeros((rows,len(atributos))))

In [54]:
data_

,health-1,G3-4,absences-1,G3-3,faixa-3,A,health-3,no,studytime-2,health-4,...,health-2,F,absences-4,faixa-2,G3-1,T,absences-3,G3-2,yes,health-5
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
393,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
394,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:
for i in range(rows):
    data_.at[i, data.iloc[i].dropna()] = 1.

In [56]:
data_

,health-1,G3-4,absences-1,G3-3,faixa-3,A,health-3,no,studytime-2,health-4,...,health-2,F,absences-4,faixa-2,G3-1,T,absences-3,G3-2,yes,health-5
0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,...,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
391,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
392,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
393,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0
394,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0

In [57]:
def supp(df_,X):
    union = np.prod(df_[X].values,axis=1)
    return len(np.nonzero(union)[0])/df_.shape[0]

In [58]:
def confidence(df_, X, Y):
    return supp(df_,X+Y)/supp(df_,X)

In [62]:
def lift(df_, X, Y):
    return supp(df_,X+Y)/(supp(df_,X)*supp(df_,Y))

In [59]:
frequent_itemsets = apriori(data_, min_support=0.01, use_colnames=True)

In [76]:
frequent_itemsets.sort_values(by='support', ascending=False)

      support                      itemsets
25   0.944304                         (yes)
22   0.896203                           (T)
132  0.858228                      (T, yes)
7    0.784810                          (no)
75   0.729114                     (yes, no)
..        ...                           ...
104  0.101266              (M, studytime-3)
354  0.101266         (yes, health-2, F, T)
262  0.101266            (M, T, absences-3)
154  0.101266            (M, T, absences-1)
340  0.101266  (studytime-2, T, F, faixa-1)

[368 rows x 2 columns]

In [66]:
frequent_itemsets = apriori(data_, min_support=0.05, use_colnames=True)
frequent_itemsets.sort_values(by='support', ascending=False)

       support                        itemsets
25    0.944304                           (yes)
22    0.896203                             (T)
232   0.858228                        (T, yes)
7     0.784810                            (no)
118   0.729114                       (yes, no)
...        ...                             ...
881   0.050633  (absences-5, faixa-2, yes, no)
892   0.050633      (M, studytime-1, no, G3-1)
904   0.050633    (studytime-1, yes, no, G3-2)
923   0.050633   (faixa-2, F, no, studytime-3)
1234  0.050633  (faixa-1, T, F, no, G3-2, yes)

[1235 rows x 2 columns]

In [67]:
frequent_itemsets = apriori(data_, min_support=0.1, use_colnames=True)
frequent_itemsets.sort_values(by='support', ascending=False)

      support                      itemsets
25   0.944304                         (yes)
22   0.896203                           (T)
132  0.858228                      (T, yes)
7    0.784810                          (no)
75   0.729114                     (yes, no)
..        ...                           ...
104  0.101266              (M, studytime-3)
354  0.101266         (yes, health-2, F, T)
262  0.101266            (M, T, absences-3)
154  0.101266            (M, T, absences-1)
340  0.101266  (studytime-2, T, F, faixa-1)

[368 rows x 2 columns]

In [68]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.2)
rules.sort_values(by='confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
726,"(studytime-4, T)",(yes),0.232911,0.944304,0.232911,1.0,1.058981,0.012972,inf
1208,"(studytime-4, no, T)",(yes),0.156962,0.944304,0.156962,1.0,1.058981,0.008742,inf
1658,"(T, G3-2, faixa-1)",(yes),0.129114,0.944304,0.129114,1.0,1.058981,0.007191,inf
1595,"(studytime-4, F, T)",(yes),0.174684,0.944304,0.174684,1.0,1.058981,0.009729,inf
1802,"(studytime-4, F, T, no)",(yes),0.111392,0.944304,0.111392,1.0,1.058981,0.006204,inf
...,...,...,...,...,...,...,...,...,...
1216,(no),"(studytime-4, yes, T)",0.784810,0.232911,0.156962,0.2,0.858696,-0.025829,0.958861
90,(no),(health-5),0.784810,0.200000,0.156962,0.2,1.000000,0.000000,1.000000
50,(no),(health-3),0.784810,0.200000,0.156962,0.2,1.000000,0.000000,1.000000
399,(no),"(studytime-2, faixa-1)",0.784810,0.202532,0.156962,0.2,0.987500,-0.001987,0.996835
453,(no),"(studytime-4, T)",0.784810,0.232911,0.156962,0.2,0.858696,-0.025829,0.958861

In [70]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)
rules.sort_values(by='confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
918,"(health-2, F, T)",(yes),0.101266,0.944304,0.101266,1.0,1.058981,0.005640,inf
878,"(studytime-4, F, T)",(yes),0.174684,0.944304,0.174684,1.0,1.058981,0.009729,inf
906,"(T, G3-2, faixa-1)",(yes),0.129114,0.944304,0.129114,1.0,1.058981,0.007191,inf
986,"(studytime-4, F, T, no)",(yes),0.111392,0.944304,0.111392,1.0,1.058981,0.006204,inf
407,"(studytime-4, T)",(yes),0.232911,0.944304,0.232911,1.0,1.058981,0.012972,inf
...,...,...,...,...,...,...,...,...,...
281,(studytime-3),"(F, no)",0.248101,0.415190,0.124051,0.5,1.204268,0.021041,1.169620
430,"(yes, faixa-1)",(F),0.450633,0.526582,0.225316,0.5,0.949519,-0.011979,0.946835
427,"(yes, faixa-1)",(M),0.450633,0.473418,0.225316,0.5,1.056150,0.011979,1.053165
846,"(studytime-2, faixa-1)","(T, F)",0.202532,0.468354,0.101266,0.5,1.067568,0.006409,1.063291
268,"(M, no)",(faixa-1),0.369620,0.470886,0.184810,0.5,1.061828,0.010761,1.058228

In [71]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.8)
rules.sort_values(by='confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
191,"(studytime-4, T)",(yes),0.232911,0.944304,0.232911,1.000000,1.058981,0.012972,inf
412,"(studytime-4, F, T)",(yes),0.174684,0.944304,0.174684,1.000000,1.058981,0.009729,inf
427,"(T, G3-2, faixa-1)",(yes),0.129114,0.944304,0.129114,1.000000,1.058981,0.007191,inf
328,"(studytime-4, no, T)",(yes),0.156962,0.944304,0.156962,1.000000,1.058981,0.008742,inf
459,"(studytime-4, F, T, no)",(yes),0.111392,0.944304,0.111392,1.000000,1.058981,0.006204,inf
...,...,...,...,...,...,...,...,...,...
451,"(yes, faixa-1, absences-1)","(T, no)",0.141772,0.698734,0.113924,0.803571,1.150039,0.014863,1.533717
406,"(T, yes, health-4)",(faixa-1),0.167089,0.470886,0.134177,0.803030,1.705360,0.055498,2.686271
306,"(studytime-2, T, no)",(faixa-1),0.179747,0.470886,0.144304,0.802817,1.704907,0.059664,2.683363
307,"(studytime-2, T, faixa-1)",(no),0.179747,0.784810,0.144304,0.802817,1.022944,0.003237,1.091320
115,"(T, health-4)",(no),0.177215,0.784810,0.141772,0.800000,1.019355,0.002692,1.075949

In [69]:
rules[ (rules['lift'] > 1.) &
       (rules['confidence'] >= 0.4) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(health-1),(faixa-1),0.200000,0.470886,0.108861,0.544304,1.155914,0.014684,1.161111
4,(health-1),(F),0.200000,0.526582,0.121519,0.607595,1.153846,0.016203,1.206452
7,(health-1),(yes),0.200000,0.944304,0.192405,0.962025,1.018767,0.003544,1.466667
10,(G3-4),(faixa-1),0.184810,0.470886,0.111392,0.602740,1.280012,0.024368,1.331907
12,(G3-4),(M),0.184810,0.473418,0.103797,0.561644,1.186360,0.016305,1.201266
...,...,...,...,...,...,...,...,...,...
1947,(G3-1),"(yes, T, F, no)",0.258228,0.346835,0.106329,0.411765,1.187205,0.016767,1.110380
1951,"(T, yes, no, G3-2)",(F),0.189873,0.526582,0.108861,0.573333,1.088782,0.008877,1.109573
1956,"(T, no, G3-2)","(yes, F)",0.200000,0.496203,0.108861,0.544304,1.096939,0.009620,1.105556
1961,"(yes, no, G3-2)","(T, F)",0.220253,0.468354,0.108861,0.494253,1.055297,0.005704,1.051208
1967,"(no, G3-2)","(yes, T, F)",0.237975,0.450633,0.108861,0.457447,1.015121,0.001622,1.012559

In [72]:
rules[ (rules['lift'] < 1.) &
       (rules['confidence'] >= 0.4) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(health-1),(T),0.200000,0.896203,0.174684,0.873418,0.974576,-0.004557,0.820000
2,(G3-4),(T),0.184810,0.896203,0.162025,0.876712,0.978252,-0.003602,0.841913
9,(G3-3),(yes),0.225316,0.944304,0.212658,0.943820,0.999488,-0.000109,0.991392
13,(health-3),(yes),0.200000,0.944304,0.187342,0.936709,0.991957,-0.001519,0.880000
17,(no),(T),0.784810,0.896203,0.698734,0.890323,0.993439,-0.004615,0.946389
...,...,...,...,...,...,...,...,...,...
466,"(studytime-1, no, faixa-1)","(T, yes)",0.118987,0.858228,0.101266,0.851064,0.991653,-0.000852,0.951899
474,"(M, no, faixa-1)","(T, yes)",0.184810,0.858228,0.154430,0.835616,0.973653,-0.004179,0.862447
482,"(F, no, G3-1)","(T, yes)",0.124051,0.858228,0.106329,0.857143,0.998736,-0.000135,0.992405
483,"(T, F, no, G3-2)",(yes),0.116456,0.944304,0.108861,0.934783,0.989917,-0.001109,0.854008
484,"(yes, F, no, G3-2)",(T),0.126582,0.896203,0.108861,0.860000,0.959605,-0.004583,0.741410

In [73]:
rules[ (rules['lift'] == 1.) &
       (rules['confidence'] >= 0.4) ]

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []